* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none; 
    
}

html, body {
    margin: 0;
    padding: 0;
}  


header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem 0rem 4.5rem;
}

.logo {
    margin-top: 2rem;
    background-color: #222222;
    width: 70px;
    padding: 20px;
    border-radius: 1rem;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    border-bottom: 2px solid #ffffff58;
}

.navlist {
    display: flex;
    justify-content: center;
    position: relative;
    left: 30%;
}

.navlist a {
    background-color: #16161695;
    padding: 10px;
    border-radius: 5rem;
    color: #ffffff;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
    border-bottom: 2px solid #161616f1;

}

.navlist a:hover {
    border-bottom: 2px solid #ffffffd5;
    background-color: #161616e0;


}

#menu-icon {
    color: #090909;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}


@media (max-width: 1535px) {
    header{
        padding: 15px 6%;
        transition: .2s;
    }
    .icons {
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down {
        right: 3%;
        transition: .2s;
    }

}

@media (max-width: 1460px) {
    .section {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1340px) {
    .hero-img img {
    width: 100%;
    height: auto;
   }
   .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
   }
   .hero-text h5 {
    margin-bottom: 25px;
   }
}

@media (max-width: 1195px) {
    .section {
        padding: 0 3%;
        transition: .2s;
    }

    .hero-img {
        text-align: center;
    }
    .hero-img img {
        width: 560px;
        height: auto;
    }
    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .scroll-down {
        display: none;
    }
}

@media (max-width: 990px) {
    #menu-icon {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .menu-icons > * {
        margin-top: 10px;
    }
    .header .logo {
        position: absolute;
        color: red;
    }
    .navlist {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: none ;
        display: none;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navlist a {
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open {
        right: 0;
    }
}

@media (max-width: 680px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }
}