<section class="hero">
    <div>
        <app-headerb></app-headerb>
    </div>
    
    <div class="deneme">
        <div class="naberstalker">
            <p class="rin" style="font-weight: 600; font-size: 120%; margin-bottom: 0;">
                Merhaba! 
            </p>
    
            <p class="rin">
               Küçüklüğümden bu yana yeni deneyimlere açık biri oldum. Sanat ve müzikle iç içe büyüdüm.
               Piyanoyla tanıştığım 10 yaşından itibaren müziğe olan ilgim, daha sonra keman çalmaya başlamamla daha da derinleşti.
            </p>
    
            <p class="yata">
                Lise yıllarım, çizimlere tam anlamıyla odaklandığım dönemlerdi. Kağıt ve kalem benim vazgeçilmez arkadaşlarımdı.
                Ancak bu dönemde psikolojik zorluklarla da baş etmek zorunda kaldım. Gene de bu zorluklar,
                beni şuan olduğum kişiye dönüştürdü.
            </p>
    
            <p class="rin">
                Üniversite sınavlarına hazırlık döneminde kendime olan güvenimi yeniden kazandım ve Bilgisayar
                Mühendisliği bölümünü kazandım. Üniversiteye adım attıktan sonra, oyun geliştirme ekibi One More Time'ı kurarak
                projelerde tasarım ve proje yönetimi alanlarında deneyim kazandım. Ayrıca, çizimlerimi NFT olarak satarak sanat
                kariyerime başladım. Web geliştirme stajı yaparak yazılım yeteneklerimi geliştirdim ve bu şekilde de bu siteyi (acı çekerek) ben yazdım.
            </p>
    
            <p class="yata">
                Şimdi ise Garry's Mod'da modelleme alanında yoğunlaşıyorum ve bu konuda Türkçe kaynaklar oluşturarak diğer öğrenmek
                isteyenlere yardımcı olmayı amaçlıyorum. Ayrıca, giysi tasarımı gibi yeni alanlara da ilgi gösteriyorum. Gelecekte ne olur
                 bilmiyorum ama mottom 'haydi deneyelim'
            </p>
        </div>
    </div>
</section>
