<header>
    <!-- <a src="assets/rinyata.png" class="logo"></a> -->
    <img src="assets/rinyata1.png" alt="logo" class="logo">

    <ul class="navlist">
        <li><a href="">Home</a></li>
        <li><a href="/about-me">About Me</a></li>
        <li><a  href="/portfolio">Portfolio</a></li>
    </ul>
    <div class="menu-icons">
        <a class="ri-home-heart-line" id="menu-icon" href=""></a>
        <a class="ri-user-fill" id="menu-icon" href="/about-me"></a>
        <a class="ri-quill-pen-fill" id="menu-icon" href="/portfolio"></a>
    </div>

</header>