<app-headerb></app-headerb>

<section class="hero">
    <div class="hero-text">
        <h1>Rinyata</h1>
        <h5>"one day or day one"</h5>
        <!-- <h4>#haydideneyelim</h4> -->
    </div>

    <!-- <div class="hero-img">
        <img src="/assets/kitty.png" alt="">
    </div> -->
</section>
    
<div class="icons">
    <a target="_blank" href="https://www.youtube.com/@RinyataW" class="ri-youtube-fill"></a>
    <a target="_blank" href="https://discord.gg/UemDgWtvmq" class="ri-discord-fill"></a>
    <a target="_blank" href="https://github.com/Rinyata" class="ri-github-fill"></a>
</div>
    
<!-- <div class="scroll-down">
    <i href="#" class="ri-arrow-drop-down-line"></i>
</div> -->
